{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class=" col Content" id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
<script
        src="https://maps.google.com/maps/api/js?key=AIzaSyByyU8uYPlEpanMFDLhhFgespHrLc4w8SQ&language=pl"
        type="text/javascript"></script>
<!--<script type="text/javascript">

var map = new google.maps.Map(document.getElementById('map'), {zoom: 7, center: {lat: 52.0688246, lng: 19.4709683}});

</script>-->
{% endblock %}


