<!-- templates/about.html -->
{% extends 'base.html' %}
{% load l10n %}
{% block content %}
<div class="HeightTaker container-fluid">
    <div class="HeightTaker container-fluid">
        <div class="Wrapper row">

            <div class="LeftNavigation col-md-auto">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Klienci</a>
                    </li>

                </ul>


            </div>
            <div class=" col Content" id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;">

            </div>
        </div>
    </div>
</div>
<script
        src="https://maps.google.com/maps/api/js?key=AIzaSyByyU8uYPlEpanMFDLhhFgespHrLc4w8SQ&language=pl"
        type="text/javascript"></script>

<script type="text/javascript">
$(function(){
    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });
});

var map = new google.maps.Map(document.getElementById('map'), {zoom: 7, center: {lat: 52.0688246, lng: 19.4709683}});

  var icon = {
              url: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Still-Logo.svg/1200px-Still-Logo.svg.png", //logo STILL
              scaledSize: new google.maps.Size(48, 14), // scaled size
              origin: new google.maps.Point(0,0), // origin
              anchor: new google.maps.Point(0, 0) // anchor
            };
            var image = 'https://m.still.pl/fileadmin/de/Microsites/Routenzuege_Kampagne/Teaser/STILL_Icons_Routenzuege.svg';
  var infowindow = new google.maps.InfoWindow({content: ''});

function add_marker(racer_id, tytul, poslat, poslng, ikona, notatka) {
    var marker = new google.maps.Marker({map: map, position: { lat: poslat , lng: poslng } , title: tytul, clickable: true, animation: google.maps.Animation.DROP, icon: ikona});
    marker.note = notatka;

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(this.note);
        infowindow.open(map, this);
    });
    return marker;
}

{% localize off %}

{% for Klient in Klienci %}
        
        add_marker({{ Klient.SAP }}, '{{ Klient.Nazwa }}',  {{ Klient.lat }}, {{ Klient.long }} , icon, '{{ Klient.SAP }}');
{% endfor %}

{% endlocalize %}

</script>



{% endblock %}